nav{
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        li{
            list-style: none;

            a{
                text-decoration: none;
            }
        }
    }
}